html,body{
    overflow-x: hidden;
}

table tr td:first-child{
    /* width: 300px; */
    border-right: 1px solid rgb(222, 226, 230);
}




.search-box{
    width: 50%;
}

@media screen and (min-width: 300px) and (max-width: 425px) {
    .search-box{
        width: 90%;
    }
}